* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}
body {
  font-family: '微软雅黑';
  background-size: cover;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
  resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
  text-align: justify;
  text-justify: distribute;
}
/*======== Link ========*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*清空浮动的代码-start*/
.clr:after {
  content: "";
  display: table;
  clear: both;
}
.clr {
  *zoom: 1;
}
/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?19tb89');
  src: url('../fonts/icomoon.eot?19tb89#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?19tb89') format('truetype'), url('../fonts/icomoon.woff?19tb89') format('woff'), url('../fonts/icomoon.svg?19tb89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.community {
  background-color: #f4f4f4;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.2s;
}
.community .popup_box {
  display: none;
  position: absolute;
  width: 37.33333333vw;
  height: 16vw;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10000;
  border-radius: 2.66666667vw;
  text-align: center;
  line-height: 16vw;
  font-size: 4.8vw;
  box-shadow: 0.53333333vw 0.53333333vw 1.6vw 0.53333333vw rgba(121, 121, 121, 0.38);
}
.community .dianzan_fast {
  animation: dianzan_fast  3s forwards;
}
@keyframes dianzan_fast {
  0% {
    opacity: 0.1;
    top: -10%;
  }
  40% {
    opacity: 1;
    top: 8%;
  }
  70% {
    opacity: 1;
    top: 8%;
  }
  100% {
    opacity: 0.1;
    top: -15%;
  }
}
.community header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 24vw;
  background-color: #fff;
  transition: all 0.2s;
}
.community header .search {
  height: 12.8vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2.66666667vw;
  transition: all 0.2s;
  font-size: 3.2vw;
  text-align: center;
  color: #5c4eaf;
}
.community header .search .upload .icon-zhongguohangtiantubiaoheji-weizhuanlunkuo- {
  font-size: 6.93333333vw;
}
.community header .search .upload .sz {
  font-weight: 700;
  font-size: 3.2vw;
}
.community header .header_search {
  display: flex;
  align-items: center;
  padding: 0 2.66666667vw;
  width: 74.66666667vw;
  height: 8vw;
  border-radius: 4vw;
  background-color: #ecedef;
}
.community header .header_search input {
  padding: 0 1.33333333vw;
  width: 66.66666667vw;
  height: 8vw;
  border-radius: 4vw;
  background-color: #ecedef;
  border: 0;
}
.community header .header_search button {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.community header .header_search button .icon {
  font-size: 5.33333333vw;
  color: #979797;
}
.community header .header_btn {
  width: 10.66666667vw;
  height: 10.66666667vw;
  border-radius: 50%;
  border: 0.26666667vw solid #000;
  text-align: center;
  line-height: 10.66666667vw;
}
.community header .label {
  height: 8vw;
}
.community header .label ul {
  display: flex;
  padding: 0 4vw;
  padding-bottom: 5.33333333vw;
}
.community header .label ul li {
  text-align: center;
  padding: 2.66666667vw 2.93333333vw;
}
.community header .label ul .active {
  border-bottom: 2px solid #ab97c9;
}
.community main {
  position: relative;
}
.community main .zhanwei {
  width: 100%;
  height: 28vw;
}
.community main .com_loading_up {
  position: absolute;
  top: 10.66666667vw;
  left: 50%;
  transform: translateX(-50%);
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0.26666667vw 0.26666667vw 1.33333333vw rgba(0, 0, 0, 0.191);
  line-height: 12vw;
  text-align: center;
  z-index: 100;
}
.community main .com_loading_up .icon {
  display: block;
  color: #a68ad0;
  font-size: 6.66666667vw;
  font-weight: 700;
}
.community main .com_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53.33333333vw;
  height: 53.33333333vw;
  background: url(../images/加载.gif) no-repeat;
  background-size: cover;
}
.community main .commutity_box {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.community main .community_ul {
  height: calc(100vh - 17vw);
  border-radius: 2.66666667vw;
  overflow: scroll;
  position: relative;
}
.community main .community_ul::-webkit-scrollbar {
  display: none;
}
.community main .community_ul li {
  display: block;
  padding: 0 2.66666667vw;
  border-radius: 2.66666667vw;
  margin-bottom: 5.33333333vw;
  background-color: #f4f4f4;
  padding-bottom: 1.33333333vw;
}
.community main .community_ul li:nth-last-child(2) {
  margin-bottom: 0;
}
.community main .community_ul li .modleId {
  display: none;
}
.community main .community_ul li .color {
  background-color: #fff;
  padding-top: 2.66666667vw;
  box-shadow: 0.26666667vw 0.53333333vw 1.33333333vw 0.53333333vw rgba(159, 157, 157, 0.381);
}
.community main .community_ul li .color .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5.33333333vw;
  height: 11.2vw;
}
.community main .community_ul li .color .upper .left {
  display: flex;
  align-items: center;
  height: 11.2vw;
}
.community main .community_ul li .color .upper .head_portrait {
  width: 11.2vw;
  height: 11.2vw;
  border-radius: 100%;
}
.community main .community_ul li .color .upper .head_portrait img {
  border-radius: 100%;
}
.community main .community_ul li .color .upper .idname1 {
  font-size: 3.73333333vw;
  margin-left: 2.66666667vw;
}
.community main .community_ul li .color .upper .right {
  width: 13.33333333vw;
  height: 8vw;
  position: relative;
  text-align: center;
}
.community main .community_ul li .color .upper .right .icon-shixincaidan {
  top: 0;
  position: absolute;
  margin-left: 2.66666667vw;
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  text-align: center;
}
.community main .community_ul li .color .upper .right .del {
  top: 8vw;
  position: absolute;
  width: 13.33333333vw;
  height: 8vw;
  text-align: center;
  margin-top: -1.33333333vw;
  line-height: 8vw;
  background-color: rgba(216, 214, 214, 0.68);
  border-radius: 1.33333333vw;
}
.community main .community_ul li .color .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.community main .community_ul li .color .content {
  margin: 0 4vw;
  margin-top: 1.33333333vw;
  padding: 0 6.66666667vw;
  border-radius: 2.66666667vw;
}
.community main .community_ul li .color .content h4 {
  margin-bottom: 1.33333333vw;
  padding-top: 4vw;
  font-size: 4.8vw;
}
.community main .community_ul li .color .content .info_box .info {
  font-size: 3.73333333vw;
  line-height: 6.66666667vw;
  height: 13.86666667vw;
  word-break: break-all;
}
.community main .community_ul li .color .content .info_box .highlight {
  display: inline;
  color: #000;
}
.community main .community_ul .click {
  position: relative;
  height: 13.33333333vw;
  line-height: 8vw;
  padding: 0 5.33333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.community main .community_ul .click .label {
  display: inline-block;
  margin-top: 1.33333333vw;
  height: 6.66666667vw;
  width: auto;
  border-radius: 5.33333333vw;
  line-height: 6.66666667vw;
  padding: 0 2.66666667vw;
  text-align: left;
  background-color: #ab97c974;
}
.community main .community_ul .click .label span {
  color: #323232;
  font-size: 3.2vw;
}
.community main .community_ul .click .label .icon-shuqianguanli {
  font-size: 3.73333333vw;
}
.community main .community_ul .click .icon-shixincaidan {
  line-height: 5.33333333vw;
}
.community main .community_ul .click .inter_box {
  position: absolute;
  top: 3.2vw;
  right: 16vw;
  width: 0vw;
  overflow: hidden;
  transition: width 0.6s;
}
.community main .community_ul .click .inter_box .interactive {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 42.66666667vw;
}
.community main .community_ul .click .inter_box .interactive .hidden {
  display: none !important;
}
.community main .community_ul .click .inter_box .interactive span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.33333333vw;
  height: 6.66666667vw;
  color: #fff;
  background-color: #656464;
  font-size: 3.46666667vw;
}
.community main .community_ul .click .inter_box .interactive span i {
  font-style: normal;
  line-height: 5.33333333vw;
  color: #fff;
  background-color: #656464;
}
.community main .community_ul .click .inter_box .interactive span .icon-jifenhuiyuan {
  font-weight: 700;
}
.community main .community_ul .click .inter_box .interactive .yellow {
  color: rgba(254, 211, 20, 0.943);
}
.community main .community_ul .click .toolbar_right {
  height: 100%;
  width: 40vw;
  display: flex;
  align-items: center;
}
.community main .community_ul .click .toolbar_right span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.33333333vw;
  font-size: 3.73333333vw;
  flex: 1;
  text-align: center;
}
.community main .community_ul .click .toolbar_right span .wenzi {
  margin-left: 1.33333333vw;
}
.community main .community_ul .click .toolbar_right .dainzan {
  position: relative;
}
.community main .community_ul .click .toolbar_right .dainzan .circle {
  display: none;
  width: 1.33333333vw;
  height: 1.33333333vw;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 26%;
  transition: all 0.5s;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 -26px 0 rgba(210, 105, 30, 0.509), 0 26px 0 rgba(210, 105, 30, 0.509), -26px 0 0 rgba(210, 105, 30, 0.509), 26px 0 0 rgba(210, 105, 30, 0.509), -18px -18px 0 rgba(210, 105, 30, 0.509), 18px -18px 0 rgba(210, 105, 30, 0.509), 18px 18px 0 rgba(210, 105, 30, 0.509), -18px 18px 0 rgba(210, 105, 30, 0.509);
}
.community main .community_ul .click .toolbar_right .dainzan .blink_circle {
  animation: blink 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
@keyframes blink {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
.community main .community_ul .click .toolbar_right i {
  font-style: normal;
}
.community main .community_ul .click .toolbar_right .icon-shoucang1,
.community main .community_ul .click .toolbar_right .icon-dianzan {
  font-size: 5.33333333vw;
}
.community main .community_ul .click .toolbar_right .icon-shoucang {
  font-size: 4.8vw;
  color: #ffae00;
}
.community main .community_ul .click .toolbar_right .orange {
  color: #ffae00;
}
.community main .community_ul .click .toolbar_right .icon-dianzan1 {
  font-size: 5.33333333vw;
  color: #ffae00;
}
.community main .footer {
  position: relative;
  width: 100%;
  height: 32vw;
  padding: 0  !important;
  padding-top: 4vw !important;
  margin-bottom: 0  !important;
  padding-bottom: 0  !important;
  transition: all 0.3s;
}
.community main .footer .footer_loading {
  height: 10.66666667vw;
  display: none;
  align-items: center;
  justify-content: center;
  color: #a46df7;
  font-size: 4.26666667vw;
}
.community main .footer .footer_loading .icon {
  font-size: 5.86666667vw;
  font-weight: 700;
}
.community main .footer .footer_loading span:last-child {
  padding-left: 2.66666667vw;
}
.community main .footer .footer_end {
  display: flex;
  height: 10.66666667vw;
  align-items: center;
  justify-content: center;
  color: #a46df7;
  font-size: 4.26666667vw;
}
.community .community_footer {
  width: 100%;
  height: 18.66666667vw;
}
.scale {
  animation-duration: 0.5s;
  animation: scale 0.5s linear;
}
@keyframes scale {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.2;
  }
  50% {
    scale: 1.2;
  }
  75% {
    scale: 0.8;
  }
  85% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
.rotateLoading {
  animation: rotateLoading 0.7s linear infinite;
}
@keyframes rotateLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.comlifadein {
  animation: comlifadein 0.8s ease-out;
}
@keyframes comlifadein {
  0% {
    margin-top: 8vw;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
